<div class="container mt-5">

    <div class="card">
        <div class="card-header">
        <h5>Create your beautiful place</h5>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-3 m-3">
                    <h5>Home Type</h5>
                    <select class="custom-select custom-select-lg mb-3">
                        <option selected>Select</option>
                        <option value="1">Apartment</option>
                        <option value="2">House</option>
                        <option value="3">Bed & Breakfast</option>
                    </select>
                </div>
                <div class="col-3 m-3">
                    <h5>Room Type</h5>
                    <select class="custom-select custom-select-lg mb-3">
                        <option selected>Select</option>
                        <option value="1">Entire</option>
                        <option value="2">Privete</option>
                        <option value="3">Shared</option>
                    </select>
                </div>

                <div class="col-3 m-3">
                    <h5>Guests</h5>
                     <select class="custom-select custom-select-lg mb-3">
                        <option selected>Select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4+</option>
                    </select>
                </div>

                <div class="col-3 m-3">
                    <h5>Bedrooms</h5>
                     <select class="custom-select custom-select-lg mb-3">
                        <option selected>Select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4+</option>
                    </select>
                </div>

                <div class="col-3 m-3">
                    <h5>Bathrooms</h5>
                     <select class="custom-select custom-select-lg mb-3">
                        <option selected>Select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4+</option>
                    </select>
                </div>

            </div>
        </div>
        <%= link_to "Create My Room","#",class:"btn btn-info m-3" %>
    </div>
</div>