<div class="container mt-5 col-3">
    <div class="card" style="width: 15rem">
        <div class="col mt-3">
            <%=link_to "Your Rooms", manage_room_room_path, class:"color-info" %>
        </div>
        <hr>
        <div class="col">
            <%=link_to "Your Reservations", "#", class:"color-info" %>
        </div>
        <hr>
        <div class="col mb-3">
            <%=link_to "Your Trips", "#", class:"color-info" %>
        </div>
    </div>
</div>